body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Open Sans", sans-serif;
    color: rgb(39, 40, 41);
    background-color: antiquewhite;
    
}

header {margin-bottom: 10%;
}

.header1 {text-align: center}
a {
  color: #0563bb;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}
    
    
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

li {
   list-style-type: none;
    padding-right: 10px;
}

#submit {
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
}

#mina {
    border: 1px solid blue;
    padding: 25px;
    background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?cs=srgb&dl=pexels-veeterzy-38136.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    color: white;
    
    
}

img {
    width: 300px;
    padding-bottom: 5%;
}

.count-box {
    border-style: solid;
}

#hammerpic {
    width: 50%;
}

.work {
    text-align: center;
}